$red-dark:#8A180E;
$red:#A62318;

$about-bg:#001426;
$comment-bg:#9F9776;
$comment-author-text-color:rgba(0, 0, 0, 0.7);

$tours-title:#828282;
$tours-bg:#ebeff2;
$tours-calendar-text:#002F55;

$footer-color-text:#4772A7;